#box {
    background-color: lightgrey;
    position: relative;
    height: 100px;
    width: 100px;
  }
  
  #box:hover {
    background-color: skyblue;
    cursor: move;
  }
  
  #box:active {
    background-color: tomato;
  }

.card-ace-of-spades{
  text-indent: -9999px;
  background: url(http://localhost:4004/assets/ace_of_spades.svg);
}

.deck-french{
  text-indent: -9999px;
  background: url(http://localhost:4004/assets/ace_of_spades.svg);
}