#box {
    background-color: lightgrey;
    position: relative;
    height: 100px;
    width: 100px;
  }
  
  #box:hover {
    background-color: skyblue;
    cursor: move;
  }
  
  #box:active {
    background-color: tomato;
  }

.container-center-aligned{
  position: inherit;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 50%;
}

.game-init-button{
  background: lightcoral;
  text-align: center;
}